div::-webkit-scrollbar {
    /*// 滚动条的背景*/
    width: 0px;
    background: transparent;
    height: 0;
  }
   
  div::-webkit-scrollbar-track,
  div::-webkit-scrollbar-thumb {
    border-radius: 0;
    width: 0;
    border: 0px solid transparent;
  }
   
  div::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px transparent inset;
  }
   
  div::-webkit-scrollbar-thumb {
    /*//滚动条的滑块样式修改*/
    width: 0;
    min-height: 0;
    background-clip: content-box;
    box-shadow: 0 0 0 0px transparent inset;
  }
   
  div::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  /*productsPage*/
  header.hpro{position: absolute;top: 0;}
  header.hpro .togglebar{position: fixed;z-index: 15;}
  header.hpro .togglebar,
  header.hpro .togglebar span:nth-child(1),
  header.hpro .togglebar span:nth-child(4){
      -webkit-transition:0.5s ease;
         -moz-transition:0.5s ease;
              transition:0.5s ease;
  }
  header.hpro .togglebar.fixed{top: 0;}
  header.hpro .togglebar.fixed span:nth-child(1){top:25px;display: none;opacity: 0;}
  header.hpro .togglebar.fixed span:nth-child(4){top:35px;display: none;opacity: 0;}
  
  
  .range-all{position: absolute;top:100px;width: 100%;z-index: 10;background: #fff;padding: 10px 4% 26px 4%;border-top: 1px solid #ddd;}
  .range-all.fixed{position: fixed;top: 0;}
  .range-all h5{display: inline-flex;padding-right: 10px;}
  .range-all h5 a{color: #999;}
  .range-all h5.active a{color: #000;}
  .range-all .range{position: relative;display: inline-flex;font-family:"DIN-BoldAlternate";font-size: 16px;line-height: 32px;margin-right:20px;}
  .range-all .range li{position: relative;padding:0 5px;cursor: pointer;margin:0 5px;border-bottom: 1px solid transparent;}
  .range-all .range li:first-child:before{content: "";display: block;position: absolute;width: 1px;height: 16px;background: #333;left: -5px;top: 0;bottom: 0;margin:auto;}
  .range-all .range li:after{content: "";display: block;position: absolute;width: 1px;height: 16px;background: #333;right: -5px;top: 0;bottom: 0;margin:auto;}
  .range-all .range a{color: #999;padding:0 5px;margin:0 5px;}
  .range-all.xq .range li:after,
  .range-all.xq .range li:first-child:before{display: none;}
  
  
  /*点击*/
  .range-all .range li.active{border-bottom: 1px solid #333;}
  /*hover*/
  .range-all .range li:hover,.range-all .range li:hover a{color: #999;}
  
  .productsPage{position: relative;width: 100%;border-bottom: 1px solid #ddd;background: #fff;padding:0 0 50px 0;overflow: hidden;padding-top: 110px;}
  .productsPage .content-all .content{position: relative;margin-top: 30px;padding-top: 40px;border-top: 1px solid #ddd;}
  .productsPage .content-all .content:first-child{border-top: 0px solid #ddd;}
  .productsPage .content-all .content p{line-height: 28px;color: #666;}
  
  .content .imga{position: relative;width: 92%;margin:auto;z-index: 5;}
   .t{position: absolute;left: 3%;bottom: 30px;display: flex;align-items: baseline;color: #fff;font-family:"DIN-MediumAlternate";font-weight: normal;font-size: 26px;letter-spacing: 1px;}
   .t span{width: 70px;height: 70px;border-radius: 50%;border:1px solid #fff;text-align: center;font-size: 52px;line-height: 70px;margin-left: 10px;font-weight: bold;}
  .productsPage .content-all .content:nth-child(2n) .t{color: #000;left: auto;right: 5%;}
  .productsPage .content-all .content:nth-child(2n) .t span{border-color: #000;}
  
  .content .text{width: 65%;margin-top:20px;padding-bottom: 2%;z-index: 5;min-height: 110px;}
  .s-img{position: relative;display: inline-flex;width: 29%;margin-left: 4%;z-index: 2;}
  .s-img li{width: 16.666666%;padding:5px;}
  .content .view{max-width: 315px;min-width: 270px;left: 36%;bottom: 1.5%;}
  .content .rightb{position: 	absolute;right: 1%;bottom: -2.5%;width: 40%;z-index: 1;max-width: 520px;}
  .productsPage.ptracks .content .rightb{max-width: 400px;right: 2%;}
  
  .s-img.s-imgEight{width: 39%;}
  .content .view.s-imgEight{left:44%;}
  
  /*productsDetails*/
  .productsDetails{position: relative;width: 100%;background: #fffefb;display: flex;flex-wrap: wrap;padding:170px 4% 70px 4%;overflow: hidden;border-top:1px solid #ddd;}
  .productsDetails.pde{
      width: 100%;
      height:-webkit-calc(100% - 0px);
      height:-moz-calc(100% - 0px);
      height:calc(100% - 0px);
      padding-bottom: 20px;
  }
  .pd-box{position: relative;width: 100%;display: flex;flex-wrap: wrap;}
  .productsDetails .left{position: relative;width: 60%;overflow: hidden;}
  .productsDetails .left:after{
      content: "";
      display: none;
      width: 1px;
      height: 100%;
      position: absolute;
      right: -8%;top: 0;
      background: #ddd;
  }
  .productsDetails .left div{display: none;}
  .productsDetails .left div.active{display: block;}
  .productsDetails .right{width: 32%;position: absolute;right: 0;top: 0;height: 100%;overflow: scroll;} /*bottom: 0;*/
  .productsDetails .t{position: relative;color: #000;bottom: auto;left: 0;margin-top: 5%;}
  .productsDetails .t span{border:1px solid #000;}
  .productsDetails .s-img{width: 80%;margin-left: 0;margin-bottom: 5%;margin-top:3.5%;}
  .productsDetails .s-img li{border:1px dashed transparent;cursor: pointer;border-radius: 50%;}
  .productsDetails .gg{position: relative;width: 70%;margin-left: 2%;margin-bottom: -10px;margin-top: 10px;font-size: 13px;}
  .productsDetails .gg span:nth-child(2){position: absolute;left: 58%;}
  .productsDetails .s-img.s-imgEight{width: 100%;}
  
  
  .btn-add{display: inline-flex;background: #3e4543;font-family:"DIN-BoldAlternate";font-size: 18px;color: #fff;padding:10px 30px;cursor: pointer;}
  .btn-add a{color: #fff;}
  .productsDetails hr{position: relative;width: 100%;border-top: 1px dashed #333;margin-top: 4%;margin-bottom: 4%;}
  
  .productsDetails .m{display: flex;flex-wrap: wrap;width: 100%;align-items: flex-end;}
  .productsDetails .m .btn-add{display: inline-block;width: 250px;text-align: center;}
  .productsDetails .m .mp{
      width:-webkit-calc(100% - 250px);
      width:-moz-calc(100% - 250px);
      width:calc(100% - 250px);
  }
  .productsDetails .m .mp p{line-height: 20px;}
  .productsDetails .m .mp p strong{font-family:"Frutiger-Roman";font-size: 26px;}
  .productsDetails .m .mp p strong:before{content: "$";font-family:"DIN-MediumAlternate";font-weight: normal;}
  
  .productsDetails .content-all{position: relative;width: 100%;}
  .productsDetails .content-all .content{width: 100%;background: #fff;}
  .productsDetails .content-all .content:first-child{position: relative;top: 0;left: 0;right: 0;z-index: 1;}
  .productsDetails .content-all .content:not(:first-child){position: absolute;top:0;left: 0;right: 0;}
  .productsDetails .content-all .content{background: #fffefb;}
  .productsDetails .desc{padding-top: 15px;padding-left: 10px;}
  .productsDetails .desc p{position: relative;/*font-family:"Frutiger-Roman";*/font-size: 16px;line-height: 32px;}
  .productsDetails .desc p span{position: absolute;left: 140px;white-space:nowrap;}
  
  .productsDetails .desc::-webkit-scrollbar {
    /*// 滚动条的背景*/
    width: 2px;
    background: transparent;
    height: 2px;
  }
  .productsDetails .desc::-webkit-scrollbar-track,
  .productsDetails .desc::-webkit-scrollbar-thumb {
    border-radius: 0;
    width: 0;
    border: 0px solid transparent;
  }
  .productsDetails .desc::-webkit-scrollbar-track {box-shadow: 1px 1px 5px transparent inset; }
  .productsDetails .desc::-webkit-scrollbar-thumb {
    /*//滚动条的滑块样式修改*/
    width: 0;
    min-height: 0;
    background-clip: content-box;
    box-shadow: 0 0 0 0px transparent inset;
  }
  .productsDetails .desc::-webkit-scrollbar-corner {background: transparent; }
  
  
  
  
  
      /* 添加成功弹窗 */
  .productsDetails .success-box{display: none;opacity: 0;;position: absolute;width: 100%;height: 100%;background: rgba(0,0,0,.25);top: 0;left: 0;right: 0;bottom: 0;z-index: 30;}
  .productsDetails .success-box .success-content{position: relative;width: 94%;max-width: 450px;background: #fff;margin:170px auto;text-align: center;padding:40px;}
  .productsDetails .success-box .success-content .close-succ{width: 26px;position: absolute;top: 10px;right: 10px;cursor: pointer;}
  .productsDetails .success-box .success-content .success-img{position: relative;width: 100%;margin-top:15px;margin-bottom: 5px;}
  .productsDetails .success-box .success-content .success-text{margin-bottom: 10px;}
  .productsDetails .success-box .success-content .success-text .SRange{padding-left: 10PX;padding-right: 5PX;}
  .productsDetails .success-box .success-content .btn-add{width: 240px;text-align: center;display: inline-block;margin:8px 0;font-size: 16px;padding:10px;}
  
      /*点击*/
  .productsDetails .success-box{-webkit-transition:all 0.5s;}
  .productsDetails .s-img li.active{border-radius: 50%;border:1px dashed #333;}
  .productsDetails .content-all .content.active{z-index: 15;}
  .productsDetails .success-box.active{display: block;opacity: 1;}	
  
  
  
  
  /* 定制页 productsDetails dz*/
  .productsDetails.dz{padding-bottom: 0;padding:0px 10% 0px 10%;background: #fff;}
  .productsDetails.dz h2{display: block;width: 100%;padding-bottom: 10px;font-size: 36px;}
  .productsDetails.dz .pd-box h4{position: relative;display: flex;align-items: baseline;}
  .productsDetails.dz .pd-box h4 small{padding-left: 15px;}
  .productsDetails.dz .pd-box h4.mm{padding-left: 0;padding-top: 30px;z-index: 5;}
  .productsDetails.dz .pd-box .logout{position: absolute; right: 0px; top: 48px; font-size: 14px;}
  .productsDetails.dz .pd-box h4.mm:before{width: 0;display: none;background: transparent;}
  
  
  /* category */
  .category-mat{position: relative;display: flex;flex-wrap: wrap;width: 100%;margin-top:10px;margin-bottom: 10px;z-index: 1;font-family:"Frutiger-Roman";}
  .category-mat a{position: relative;color: #8a8a8a;margin-right: 20px;font-size: 16px;line-height: 30px;border: 1px solid #8a8a8a;padding:0 10px;}
  /*.category-mat a:after{
      content: "";
      width: 100%;height: 1px;
      background: transparent;
      position: absolute;
      bottom: 0;left: 0;right: 0;
  }*/
  .category-mat a,
  .category-mat a:after{
      -webkit-transition:0.5s ease;
         -moz-transition:0.5s ease;
              transition:0.5s ease;
  }
  .category-mat a:hover{color: #3e4543;}
      /*click*/
  .category-mat a.active{color: #fff;background: #3e4543;}
  /*.category-mat a.active:after{
      content: "";
      width: 100%;height: 1px;
      background: #333;
      position: absolute;
      bottom: 0;left: 0;right: 0;
  }*/
  
  .whh{width: 20px;position: absolute;left: 262px;margin:auto;top: 0;bottom: 0;}
  .whp{width: 20px;position:absolute;right: -25px;top: 5px;}
  
  .category-btn{position: relative;display: flex;width: 100%;padding-top:10px;margin-bottom: 50px;/*border-top: 1px solid #333;*/}
  .category-btn p{display: none;text-align: left;color: #595757;font-size: 14px;line-height: 20px;position: absolute;width: 100%;bottom: -30px;}
  .category-btn .cbbox{position: relative;width: 150px;text-align: center;}
  .category-btn .cbtn{position: relative;color: #8a8a8a;margin-right: 20px;font-size: 16px;line-height: 30px;border: 1px solid #8a8a8a;padding:0 10px;cursor: pointer;font-family:"Frutiger-Roman";}
  .category-btn .cbbox .cbtn{
      -webkit-transition:0.5s ease;
         -moz-transition:0.5s ease;
              transition:0.5s ease;
  }
  .category-btn .cbtn:hover{color: #3e4543;}
  .category-btn .cbbox.active .cbtn{background: #3e4543;color: #fff;border:1px solid #3e4543;}
  
  .scBtnCont{position: relative;width: 100%;}
  .scBtnCont .scbcitem{position: relative;width: 100%;display: none;margin-top: 20px;}
  .scBtnCont .scbcitem2{margin-top: 20px;}
  .scBtnCont .scbcitem.active{display: block;}
  
  .productsDetails.dz .common-ul{position: relative;display: flex;flex-wrap: wrap;width: 102%;left: -1%;margin-top: 20px;margin-bottom: 30px;}
  .productsDetails.dz .common-ul div,.wil-img {
      position: relative;margin:1%;width: 14.6666%;max-width: 140px;cursor: pointer;display: flex;align-items: center;
  }
  
  .bespoke-style img.normal { display: block; }
  .bespoke-style img.active { display: none; }
  .bespoke-style.active img.normal { display: none; }
  .bespoke-style.active img.active { display: block; }
  
  .wil-img {
      margin:0;
  }
  .wil-img-area {
      width:31.333%; max-width: 140px; position: relative;display: flex;align-items: center;
  }
  .wil-img2 {
      cursor: pointer;
      display: flex;align-items: center;
  }
  .wil-img-v2l-l {
      position: absolute; width:20%; height: 100%; top: 0px; left: 0px;
  }
  .wil-img-v2l-r {
      position: absolute; width:80%; height: 100%; top: 0px; right: 0px;
  }
  .wil-img-v2r-l {
      position: absolute; width:80%; height: 100%; top: 0px; left: 0px;
  }
  .wil-img-v2r-r {
      position: absolute; width:20%; height: 100%; top: 0px; right: 0px;
  }
  .wil-img-h2l-l {
      position: absolute; width:100%; height: 70%; top: 0px; left: 0px;
  }
  .wil-img-h2l-r {
      position: absolute; width:100%; height: 30%; bottom: 0px; left: 0px;
  }
  .wil-img-h2r-l {
      position: absolute; width:100%; height: 30%; top: 0px; left: 0px;
  }
  .wil-img-h2r-r {
      position: absolute; width:100%; height: 70%; bottom: 0px; left: 0px;
  }
  .wil-img-v31 {
      position: absolute; width:33%; height: 100%; top: 0px; left: 0px;
  }
  .wil-img-v32 {
      position: absolute; width:34%; height: 100%; top: 0px; left: 33%;
  }
  .wil-img-v33 {
      position: absolute; width:33%; height: 100%; top: 0px; right: 0px;	
  }
  .wil-img-h31 {
      position: absolute; width:100%; height: 33%; top: 0px; left: 0px;
  }
  .wil-img-h32 {
      position: absolute; width:100%; height: 34%; top: 33%; left: 0px;
  }
  .wil-img-h33 {
      position: absolute; width:100%; height: 33%; bottom: 0px; left: 0px;
  }
  
  /*.productsDetails.dz .common-ul.add div:nth-child(7){display: none;}*/
  /*.productsDetails.dz .common-ul.add div:not(:last-child):before{
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 16px;
      height: 16px;
      background: url(/images/close.png) no-repeat center center;
      background-size: 100% 100%;
      font-size: 20px;
      text-align: center;
      color:#333;
      padding:2px;
      cursor: pointer;
      z-index: 5;
  }*/
  
  .productsDetails.dz .common-ul.add div:last-child:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;left: 0;right: 0;bottom: 0;margin:auto;
      background: #fff;
      border:1px dashed #f00;
  }
  .wil-img:after, .wil-img2:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;left: 0;right: 0;bottom: 0;margin:auto;
      background: #fff;
      border:1px dashed #ddd;
  }
  
  .productsDetails.dz .common-ul div.climg span{color: red !important;z-index: 5;}
  
  
  
  
  /*.w-item .w-item-box:first-child .wil-img:after{display: none;background: transparent;}*/
  .productsDetails.dz .common-ul.add div span,
  .wil-img span, .wil-img2 span {
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 6;
      color:#999;
      font-family:"Frutiger LT 45 Light";
  }
  
  .rcc{position: absolute;bottom: 0;left: 0;right: 0;}
  
  .cm-box{position: relative;width: 100%;border-bottom: 1px solid #333;margin-bottom: 45px;overflow: hidden;}
  .cm-box .common-ul{background: #fff;opacity: 0;}
  .cm-box .common-ul:first-child{position: relative;z-index: 1;top: 0;left: -1%;right: 0;}
  .cm-box .common-ul:not(:first-child){position: absolute;top: 0;left: -1%;right: 0;}
  .productsDetails.dz .common-ul.add{display: none;}
  
  
  .productsDetails.dz .cm-box{width: 100%;overflow: hidden;margin: auto;}
  .productsDetails.dz .common-ul.defa{width: 5000px;max-height: 125px;height:125px;overflow-y: hidden;overflow-x:scroll;}
  .productsDetails.dz .common-ul.defa .irc{width: 140px;margin: 10px;}
  .productsDetails.dz .common-ul.add{overflow: hidden;}
  
  .productsDetails.dz .comm .btn-prev,
  .productsDetails.dz .comm .btn-next{position: absolute;bottom: 66px;width: 50px;cursor: pointer;padding: 12px;z-index: 999999;}
  .productsDetails.dz .comm .btn-prev{left: -50px;}
  .productsDetails.dz .comm .btn-next{right: -50px;}
  
  .cm-box .common-ul.active{z-index: 15;opacity: 1;}
  .productsDetails.dz .common-ul.add.active{display: flex;}
  
  .cm-box .common-ul.defa .rcc{position: absolute;width: 100%;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,.35);margin:0;}
  .cm-box .common-ul.defa .rcc p{font-size: 14px;line-height: 20px;color: #fff;padding:5px;width: 100%;text-align: right;}
  
  
  .productsDetails.dz .common-ul.add div.rcc,
  .wil-img div.rcc{display: none;}
  
  .cm-box .common-ul.defa div.irc .rcc{opacity: 0;-webkit-transition:0.5s;-moz-transition:0.5s;transition:0.5s;}
  .cm-box .common-ul.defa div.irc:hover .rcc{opacity: 1;}
  
  
  #defaW{border-bottom: none;position: relative;}
  #defaW.active{display: block;}
  #defaW i{display: block;width: 200px;height: 30px;position: absolute;top: 28px;left: 0;cursor: pointer;}
  #defaW i.non{display: none;}
  #defaW i.t0{top: 0;}
  .defaWul{width: 210px;/*border: 1px solid #595757;*/font-family:"Frutiger LT 45 Light";float: left;}
  .defaWul li{padding: 5px 10px;cursor: pointer;border: 1px solid #595757;border-top: none; height:30px;}
  .defaWul li:first-child{border-top: 1px solid #595757;}
  .defaWul li:not(:first-child){opacity: 0;}
  .defaWul li.parentItem {color:#fff; background: #767676;}
  .defaWul li.parentItem:hover {color:#fff; background: #767676;}
  .defaWul li:hover{background: #E0E1E1;}
  .defaWul li.active{background: #E0E1E1;}
  .defaWul li.close{display: none;}
  .defaWul.one li:not(:first-child){opacity: 1;}
  .defaWul.close{display: none;}
  .defaWulDemo {float:left; height: 210px; width: auto; display:none; position: absolute; top: 0px; left: 210px;}
  .defaWulDemoShort {height: 150px;}
  .defaWulDemo2 {float:left; height: 150px; width: auto; display:none; position: absolute; top: 0px; left: 210px;}
  .defaWulDemoShort2 {height: 90px;}
  
  #dzfixed{position: absolute;top: 100px;z-index: 5;}
  #dzfixed.fixed{position: fixed; /*top: 0;*/ top:-60px; z-index: 20;/*z-index: 10;*/}
  #dzCont{position: relative;padding-top: 410px;}
  .comm{width: 100%;position: relative;}
  .productsDetails.dz #myMaterial .cm-box{overflow-x: scroll;overflow-y: hidden;}
  /*#myMaterial{margin-bottom: 20px;}*/
  #myMaterial.fixed{position: fixed;width: 80%;left: 10%;top: 0;right: 10%;background: #fff;z-index: 99;/*padding:0px 10% 0px 10%;*/}
  .productsDetails.dz .window-allbox{width: 100%;position: relative;}
  /*.productsDetails.dz .window-allbox .window{display: none;}*/
  .productsDetails.dz .window-allbox .window.active{display: flex;}
  .productsDetails.dz .window-allbox .window{position: relative;width: 100%;/*display: flex;*/flex-wrap: wrap;font-family:"Frutiger-Roman";margin-top:10px;padding-bottom: 40px;margin-bottom: 30px;border-bottom: 1px solid #666;}
  .productsDetails.dz .window-allbox .window:last-child{/*border-bottom:none;padding-bottom: 0;margin-bottom: 0;*/}
  .productsDetails.dz .window-allbox .window .w-list{position: relative;width: 100%;display: flex;flex-wrap: wrap;font-size: 14px;line-height: 24px;align-items: baseline;margin-bottom: 20px;margin-top: 10px;}
  .productsDetails.dz .window-allbox .window .w-list.wlw{margin-bottom: 0;margin-top: 0;display: flex;align-items: center;}
  .productsDetails.dz .window-allbox .window .w-list.wlw img{width: 20px;cursor: pointer;}
  .productsDetails.dz .window-allbox .window .w-list.bespoke-style img {width: 70%;}
  .productsDetails.dz .window-allbox .window .w-list.wlw img.copy{margin-left: 8px;}
  .productsDetails.dz .window-allbox .window .w-list.wlw strong{font-size: 16px;line-height: 32px;}
  .productsDetails.dz .window-allbox .window .w-list.wlw strong:first-child{margin-right:10px;}
  .productsDetails.dz .window-allbox .window .w-list.cont{font-family:"Frutiger LT 45 Light";}
  .productsDetails.dz .window-allbox .window .w-list.cont strong{padding-left: 20px;}
  .productsDetails.dz .window-allbox .window .w-list strong:first-child,
  .productsDetails.dz .window-allbox .window .w-list span{margin-right: 60px;}
  .productsDetails.dz .window-allbox .window .w-list span.size,
  .productsDetails.dz .window-allbox .window .w-list span.money{font-size: 16px;line-height: 20px;margin-left: 3px;padding-left: 1px;}
  .productsDetails.dz .window-allbox .window .w-list span.size{position: relative;display: inline-block;border-bottom: 1px solid #333;min-width: 44px;text-align: center;padding-right: 1px;}
  .productsDetails.dz .window-allbox .window .w-list input.size{position: relative;display: inline-block;width: 44px;text-align: center;padding-right: 1px;}
  .productsDetails.dz .window-allbox .window .w-list span.size:after, .productsDetails.dz .window-allbox .window .w-list input.size:after{
      position: absolute;
      right: -25px;bottom: 0;
      content: "mm";
      font-size: 14px;
      padding-left: 3px;
      /*color: #999;*/
  }
  .productsDetails.dz .window-allbox .window .w-list .addwindow{cursor: pointer;}
  .w-item{position: relative;width: 100%;}
  .w-item .w-item-box{width: 100%;}
  .w-item .w-item-box:nth-child(2){
      position: absolute;
      top: 0;/*left: 35%;*/
      left: 360px;
  }
  .w-item .w-item-box:nth-child(3){
      position: absolute;
      top: 0;/*left: 70%;*/
      left: 720px;
  }
  .w-item .w-item-box p.titw{position: relative;display: inline-block;padding-left: 15px;font-family:"Frutiger-Roman";cursor: pointer;text-transform: uppercase;color: #999;}
  .w-item .w-item-box p.titw:before{
      content: "";
      position: absolute;
      left: 0;top: 0;bottom: 0;margin:auto;
      width: 8px;height: 8px;border-radius: 50%;
      border:1px solid #999;
      background: transparent;
  }
  .w-item .w-item-box.climg p.titw{color: #2f2725;}
  /*.w-item .w-item-box.climg p.titw:before, */.w-item .w-item-box.active p.titw:before{
      border:1px solid #000;
      background: #000;
  }
  .w-item .w-item-box p.titw span{padding-left: 10px;font-family:"Frutiger LT 45 Light";}
  .w-item .w-item-box.climg .SumoSelect > .CaptionCont,
  .w-item .w-item-box.climg .SumoSelect > .optWrapper.open{color: #000;}
  
  .w-item .w-item-box .wil-img, .w-item .w-item-box .wil-img2 {opacity: .7;}
  .w-item .w-item-box.climg .wil-img, .w-item .w-item-box.climg .wil-img2 {opacity: 1;}
  
  .w-item .w-item-box .w-item-list{position: relative;display: flex;flex-wrap: wrap;}
  .w-item .w-item-box .w-item-list .wil-check{position: relative;width: 13%;max-width: 125px;display: flex;align-items: center;margin-left: 1.5%;}
  .w-item .w-item-box .w-item-list .wil-check .selectd{width: 100%;display: flex;align-items: center;cursor: pointer;}
  .w-item .w-item-box .w-item-list .wil-check .selectd:first-child{
      position: absolute;
      top: 0;
  }
  .w-item .w-item-box .w-item-list .wil-check .selectd:last-child{
      position: absolute;
      bottom: 0;
  }
  .window-allbox .window.n3 .w-item .w-item-box .w-item-list .wil-check .selectd:last-child,
  .window-allbox .window .w-item .w-item-box.tt3 .w-item-list .wil-check .selectd:last-child
  {bottom: auto;}
  
  .w-item .w-item-box .w-item-list .wil-check .selectd select{ 
      border: 1px solid #ddd; 
      outline: none; 
      width: 100%;
      height: 26px;
      line-height: 26px; 
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none; 
      padding-left: 10px;
      font-size: 13px;
      color: #999;
  }
  .w-item .w-item-box .w-item-list .wil-check .selectd select:selected{color: #000;}
  /*.w-item .w-item-box .w-item-list .wil-check .selectd:before{ 
      content: ""; 
      display: block;
      width: 16px; 
      height: 8px; 
      background: url(/images/arr.png) no-repeat center center; 
      background-size: 100% 100%;
      position: absolute; 
      right: 10px; 
      top: 40%; 
      z-index: 20;
      pointer-events: none; 
  }*/
  .w-item .w-item-box .w-item-list .wil-check .selectd:nth-child(2):before{
      top: 46%; 
  }
  
  .w-item .w-item-box .w-item-list .wil-check .selectd .WH{position: absolute;right: -25px;width: 20px;}
  
  .w-item .w-item-box.climg .w-item-list .wil-check .selectd select{color: #111;}
  .productsDetails.dz .w-item-box.climg .wil-img:after {border: 1px #f00 dashed;}
  .productsDetails.dz .w-item-box.climg .wil-img span {color: red;z-index: 5;}
  .productsDetails.dz .w-item-box.active .wil-img:after {background: transparent;}
  
  .productsDetails.dz .w-item-box.climg .wil-img2.active:after {border: 1px #f00 dashed;}
  .productsDetails.dz .w-item-box.climg .wil-img2.active span {color: red;z-index: 5;}
  .productsDetails.dz .w-item-box.active .wil-img2.active:after {background: transparent;}
  /*.productsDetails.dz .w-item-box.active .wil-img img{opacity: 0;}*/
  
  .productsDetails.dz .window.addw{display: none;}
  .productsDetails.dz .window.addw.active{display: flex;}
  #defaW .w-list.wlw{padding-bottom: 10px;}
  #defaW .w-list.wlw strong{cursor: pointer;}
  
  /* 定制页 问号点击内容 */
  .wenhaoBox{position: fixed;display: none;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;margin: auto;z-index: 100;background: rgba(0,0,0,.25);align-items: center;}
  .wenhaoBox.active{display: flex;}
  .wenhaoBox .whb-inner{position: absolute;width: 100%;display: flex;flex-wrap:wrap;align-items: center;height: 100%;overflow: scroll;}
  .wenhaoBox .whb-inner .whb-content{position: relative;background: #fff;margin: auto;padding:15px 30px;display: none;}
  .wenhaoBox .whb-inner .whb-content.active{display: block;}
  .whb-content.wc_mb,.whb-content.wc_mcs, .whb-content.wc_romanb, .whb-content.wc_liningbo,.whb-content.wc_rb{max-width: 520px;}
  .whb-content.wc_mb .hcont-text,
  .whb-content.wc_mcs .hcont-text{margin-top: 15px;}
  
  .wenhaoBox .whb-inner .whb-content .whb-close{position: absolute;right: 10px;top: 0;width: 50px;padding: 10px;cursor: pointer;z-index: 99;}
  .wenhaoBox .whb-inner .whb-content h5{padding-left: 15px;font-size: 18px;}
  .wenhaoBox .whb-inner .whb-content .whb-img{position: relative;display: flex;flex-wrap: wrap;}
  .wenhaoBox .whb-inner .whb-content .whb-img.wi-2{max-width: 460px;}
  .wenhaoBox .whb-inner .whb-content .whb-img.wi-4{max-width: 920px;}
  .wenhaoBox .whb-inner .whb-content .whb-img.lipab li p{position: absolute;width: 100%;}
  .wenhaoBox .whb-inner .whb-content .whb-img.lipab li:nth-child(2) p{text-align: right;}
  .wenhaoBox .whb-inner .whb-content .whb-img.lipab.lipab01 li p{top: 56%;}
  .wenhaoBox .whb-inner .whb-content .whb-img.lipab.lipab02 li p{top: 44%;}
  .wenhaoBox .whb-inner .whb-content .whb-img.lipab.lipab03 li p{top: 52%;}
  .wenhaoBox .whb-inner .whb-content .whb-img li{position: relative;margin:15px 15px 0 15px;width: 200px;}
  .wenhaoBox .whb-inner .whb-content .whb-img li p{text-transform: capitalize;font-size: 14px;}
  .wenhaoBox .hcont-text.tultop{padding:15px 15px 0 15px;}
  .wenhaoBox .hcont-text p{font-size: 14px;line-height: 26px;/*text-align: justify;*/padding-bottom: 5px;}
  
  .wenhaoBox .whb-inner .whb-content.wc_rb .whb-img li{width: 100%;margin-bottom:20px;}
  
  .wenhaoBox.cho .whb-inner .whb-content{padding:40px 50px;width: 500px;}
  .wenhaoBox.cho .whb-inner .whb-content .whb-close{top: 5px;}
  .wenhaoBox.cho .whb-inner .whb-content h5{padding-left: 0;line-height: 26px;}
  .wenhaoBox.cho .whb-inner .whb-content h5 small{font-family:"Frutiger LT 45 Light";}
  .wenhaoBox.cho h4{border-bottom: 1px solid #ddd;}
  .wenhaoBox.cho form{margin-top: 30px;}
  .wenhaoBox.cho form input{position: relative;width: 100%;height: 30px;line-height: 30px;border:1px solid #999;margin-bottom: 5px;padding:0 5px;font-family:"Frutiger LT 45 Light";}
  .wenhaoBox.cho .bb-btn{position: relative;margin-top: 10px;}
  .wenhaoBox.cho .bb-btn .btnn{float: right;padding:0 30px;margin-bottom: 0;height: 30px;line-height: 30px;background: #000;color: #fff;font-size: 16px;font-family:"DIN-BoldAlternate";}
  .wenhaoBox.cho form .fx2{position: relative;width: 100%;display: flex;flex-wrap: wrap;}
  .wenhaoBox.cho form .fx2 h5{width: 40%;}
  .wenhaoBox.cho form .fx2 input{width: 60%;}
  
  
  
  input{font-family:"Frutiger LT 45 Light";}

  
  
  /* 定制页点击后 */
  .productsDetails.dz .pd-box .common-ul.add div span,
  .pd-box .wil-img span,
  .pd-box .wil-img2 span,
  .productsDetails.dz .pd-box .window .w-list span.size:after,
  .pd-box .w-item .w-item-box .w-item-list .wil-check .selectd select,
  .productsDetails.dz .pd-box h4.cmade:before{
      -webkit-transition:0.35s ease;
         -moz-transition:0.35s ease;
              transition:0.35s ease;
  }
  
  
  .productsDetails.dz .pd-box.active .window .w-list span.size:after,
  .pd-box.active .w-item .w-item-box .w-item-list .wil-check .selectd select{color:#000;}
  
  .productsDetails.dz .pd-box.active h4.cmade:before{
      background: #000;border:1px solid #000;
  }
  
  
  /* tracks 页面 */
  .productsPage.ptracks .t{
      color: #121212;
      font-size: 36px;
  }
  
  /* sheers 页面 */
  .productsPage.psheers .t{color: #000; }
  .productsPage.psheers .t span{border: 1px solid #000;}
  
  
  
  /* check out 页面 */
  .CO-cont{position: relative;width: 100%;border-bottom: 1px solid #3e3a39;margin:10px 0;padding:25px 0px;}
  .CO-cont .titt{border-bottom: 1px dashed #333;padding-bottom: 15px;font-size:16px;font-family:"Frutiger-Roman";}
  .CO-cont .lefta{width: 58%;position: absolute;height: 92%;overflow: scroll;max-width: 700px;}
  .CO-cont .righta{width: 35%;position: relative;float: right;}
  .CO-cont .co-w{position: relative;width: 100%;margin-top: 20px;margin-bottom: 40px;}
  .CO-cont .co-w .co-wt{width: 40%;float: left;}
  .CO-cont .co-w .co-wt strong,.CO-cont .co-w .co-wt p{display: inline-block;}
  .CO-cont .co-w .co-wt strong{font-family:"Frutiger-Roman";font-weight: normal;}
  .CO-cont .co-w .co-wt strong:last-child{font-size: 15px;}
  .CO-cont .co-w .co-wt p{padding-left: 20px;font-size: 14px;}
  .CO-cont .co-w ul{display: flex;flex-wrap: wrap;width: 100%;margin-top: 10px;margin-bottom: 10px;}
  .CO-cont .co-w ul li:nth-child(1),
  .CO-cont .co-w ul li:nth-child(2){width: 40%;}
  .CO-cont .co-w ul li:nth-child(3){width: 20%;}
  .CO-cont .co-w ul li .x2{display: flex;align-items: flex-end;flex-wrap: wrap;}
  .CO-cont .co-w ul li .x2 .xx2{width: 50%;position: relative;}
  .CO-cont .co-w ul li .x2 p{width: 50%;font-size: 14px;line-height: 24px;padding:0 5px;color: #999;}
  .CO-cont .co-w ul li .x2 p span{display: block;width: 100%;font-family:"Frutiger LT 45 Light";}
  .CO-cont .co-w ul li p.co-wty{font-weight: bold;font-size: 14px;width: 100%;color: #2f2725;position: absolute;bottom: -24px;padding-left: 0;}
  .CO-cont .co-w ul li:nth-child(3) .xx2{width: 100%;position: relative;}
  .CO-cont .co-w ul li:nth-child(3) p.co-wty{bottom: -27px;}
  /*.CO-cont .co-w ul li:nth-child(3) p.co-wty.sample{bottom: -24px;}*/
  .CO-cont .co-wmoney{width: 100%;text-align: right;border-bottom: 1px solid #ddd;padding:10px 0;font-size: 14px;margin-top:30px;}
  .CO-cont .co-tm{position: relative;width: 100%;padding:30px 0 10px 0;}
  .CO-cont .co-tm strong{position: absolute;left: 0;padding:10px 0;}
  .CO-cont .co-tm .co-wmoney{border:none;margin-top: 0;}
  .CO-cont .info{position: relative;width: 100%;margin-top: 20px;padding:0px;}
  .CO-cont .info p{font-family:"Frutiger-Roman";line-height: 26px;font-size: 15px;}
  .CO-cont .info p small{font-family:"Frutiger LT 45 Light";padding-left: 5PX;}
  .CO-cont .info input{position: relative;width: 100%;height: 30px;line-height: 30px;border:1px solid #999;margin-bottom: 10px;font-family:"Frutiger LT 45 Light";padding:0 5px;}
  .productsDetails.dz.cho .CO-cont .co-w .co-wt{width: 100%;padding-bottom: 10px;}
  .productsDetails.dz.account.cho .CO-cont .co-w .co-wt{width: 40%;}
  .productsDetails.dz.account.cho .CO-cont .co-w .co-wt.acct{width: 100%;}
  .CO-cont .co-w .co-wt p:last-child{padding-left: 0;}
  
  .CO-cont.coos .co-w ul li .x2 p{width:100%;line-height: 20px;padding:0;}
  .CO-cont.coos .co-w ul li p.co-wty{position: relative;bottom: 0;line-height: 22px;}
  
  .CO-cont .info.dx{margin-bottom:20px;}
  .CO-cont .info.dx .dxd{display: block;width: 100%;position: relative;margin-bottom: 5px;}
  .CO-cont .info.dx .dxd img{max-width: 230px; width:auto; display: inline-block;margin-left: 5px;}
  .CO-cont .info.dx input{
      display: inline-block;
      -webkit-appearance: none;
      width: 25px;
      height: 25px;
      padding: 0;
      background-color: #fff;
      border: 1px solid #999;
      outline: none;
      margin: 2px;
      cursor: pointer;
  }
  .CO-cont .info.dx input:checked{
      background-color: #666;
  }
  
  .bottom-btn{position: relative;display: block;width: 100%;padding:25px 0;}
  .bottom-btn .btnn{padding:10px 30px;font-family:"DIN-BoldAlternate";font-size: 16px;}
  .bottom-btn .btnn,.bottom-btn .btnna{-webkit-transition:0.5s;-moz-transition:0.5s;transition:0.5s;}
  .bottom-btn .btnn a{color: #000;}
  .bottom-btn .btnn.lll{float: left;margin-left: 0;}
  .bottom-btn .btnn.rrr{float: right;}
  .bottom-btn .btnn:hover{background: #000;color: #fff;}
  .bottom-btn .btnn:hover a{color: #fff;}
  
  /* account页面 */
  .productsDetails.dz.account .CO-cont{padding: 0;}
  .CO-cont .itemm{width: 100%;}
  .CO-cont .itemm.tw2{margin-bottom: 20px;}
  .CO-cont .itemm .co-w ul{width: 60%;max-width: 700px;}
  .CO-cont .itemm .titt{border:none;padding:8px 0;margin-bottom:10px;font-family:"Frutiger-Roman";border-bottom: 1px solid #ddd;border-top: 1px dashed #333;}
  .CO-cont .itemm .titu{border:none;padding:8px 0;font-family:"Frutiger-Roman";font-size:15px;font-weight:bold;margin-top:40px;margin-bottom:20px;padding-top:45px;border-top: 1px solid #ddd;}
  .CO-cont .itemm .textb{position: relative;margin-bottom: 30px;}
  .CO-cont .itemm .textb div{position: relative;width: 100%;}
  .CO-cont .itemm .textb div .edit{position: absolute;right: 0;top:0;font-size: 13px;padding:0 15px;height: 24px;line-height: 24px;color: #999;border-color: #999;}
  .CO-cont .co-w .co-wt.acct{padding-bottom: 15px;width: 100%;}
  .CO-cont .co-w .co-wt.acct p{padding-left: 10px;padding-right: 30px;}
  .CO-cont .itemm .cob{margin-top: 30px;border-bottom:1px solid #ddd;padding-bottom:10px;}
  .CO-cont .itemm .cob:nth-child(2){margin-top: 0;}
  .productsDetails.dz.account.cho .CO-cont .textb p{line-height: 30px;font-size: 15px;}
  .productsDetails.dz.account.cho .CO-cont .textc p{line-height: 24px;font-size: 15px;}
  .productsDetails.dz.account.cho .CO-cont .textc p a {color:#2f2725;}
  .CO-cont .itemm .textb div .edit{top: 2px;margin-top: 0;}
  .productsDetails.dz.account .signoutt{font-family: "Frutiger-Roman";font-size: 13.5px;color: #000;position: absolute;right: 0;top: 46px;}
  
  .productsDetails.pde.bll .right{padding-top: 20px;}
  
  .productsDetails .left .lg.productStyle {
      padding-top:20px;
  }
  .productsDetails .left .lg.productStyle h4 {
      color:#2f2725;
      font-size: 18px;
  }
  .productsDetails .left div.productStyle {
      display:block;
  }
  .productsDetails .left div.productStyle div.s-item {
      width: 22%;
      display:block;
      float: left;
      line-height: 28px;
      font-size: 15px;
      color:#2f2725;
      font-family: "Frutiger LT 45 Light";
  }
  .productsDetails .left div.productStyle div.s-space {
      width: 4%;
      display:block;
      float: left;
  }
  .productsDetails .right .xs.productStyle {
      padding-top:20px;
  }
  .productsDetails .right div.productStyle div.s-item {
      width: 22%;
      display:block;
      float: left;
      line-height: 28px;
      font-size: 15px;
      color:#2f2725;
      font-family: "Frutiger LT 45 Light";
  }
  .productsDetails .right div.productStyle div.s-space {
      width: 4%;
      display:block;
      float: left;
  }
  .calcArea {
      width: 100%;
      padding: 30px 0 30px 0;
  }
  .calcArea .dott {
      border: 1px dotted #333;
      width: 100%;
      padding: 8px;
      font-family: "Frutiger LT 45 Light";
      font-size: 15px;
      color: #2f2725;
      position: relative;
  }
  .calcArea .dott span.title {
      font-weight: bold;
      font-family: "DIN-BoldAlternate";
      font-size: 18px;
      margin-left: 15px;
  }
  .calcArea .dott span.drop {
      margin-left: 15px;
      margin-right: 10px;
  }
  .calcArea .dott input {
      width: 40px;
      border: 0px;
      border-bottom: 1px #000 solid;
      text-align: center;
  }
  .calcArea .calculator {
      width: 100%;
      padding: 7px 0 15px 0;
      position: relative;
      float: left;
  }
  .calcArea .calculator input {
      display: inline-block;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      padding: 0;
      background-color: #fff;
      border: 1px solid #999;
      outline: none;
      margin: 2px;
      cursor: pointer;
      vertical-align: middle;
      margin-top: -1px;
  }
  .calcArea .calculator div {
      margin: 7px 20px 7px 0px;
      float: left;
  }
  .calcArea .calculator input:checked {
      background-color: #3e4543;
  }
  .calcArea .calculator span.type {
      font-weight: bold;
      font-family: "DIN-BoldAlternate";
      font-size: 15px;
  }
  .calcArea .calculator span.currency {
      font-size: 12px;
  }
  .calcArea .calculator span.price {
      font-size: 15px;
      margin-left: 4px;
  }
  
  
  
  @media screen and (max-width:1600px) {
      .productsDetails .t{margin-top: 0;}
      .productsDetails.bll .t{margin-top: 10px;}
      .productsDetails .content-all .cacimg{max-height: 120px;overflow: hidden;}
      .productsDetails .desc p{font-size: 15px;line-height: 28px;}
  }
  @media screen and (max-width:1500px){
      .content .rightb{width: 34%;
          max-width: 500px;}
  }@media screen and (max-width:1366px){
      .productsDetails .m .btn-add{padding: 10PX;width: 200px;}
      .productsDetails .m .mp{
          width: -webkit-calc(100% - 200px);
          width: -moz-calc(100% - 200px);
          width: calc(100% - 200px);
      }
      .productsDetails .right{width: 36%;}
  }
  @media screen and (max-width:1024px){
      .productsDetails.dz.cho{padding:0px 4% 0px 4%;}
      .CO-cont .co-w ul li .x2 p{font-size: 14px;line-height: 26px;}
  }
  @media screen and (max-width:810px) {
      .CO-cont .info.dx .dxd img{max-width: 200px;}
  }
  @media screen and (max-width:810px) {
      .category-btn p {bottom:-50px;}
  }
  @media screen and (max-width:760px) {
      #dzfixed{top: 70px;}
      #dzfixed.fixed{position: fixed; /*top: 0;*/ top: -35px; z-index: 20;}
      #dzfixed.fixed .mm {opacity: 0;}
      header.hpro .togglebar.fixed{top: 10px;}
      header.hpro .togglebar.fixed span:nth-child(1){top:15px;display: block;opacity: 1;}
      header.hpro .togglebar.fixed span:nth-child(4){top:39px;display: block;opacity: 1;}
      header.hpro .togglebar.fixed.click span:nth-child(1), 
      header.hpro .togglebar.fixed.click span:nth-child(3){opacity: 0;}
      header.hpro .togglebar.fixed.click span:nth-child(1), 
      header.hpro .togglebar.fixed.click span:nth-child(2){top: 20px;}
      header.hpro .togglebar.fixed.click span:nth-child(3), 
      header.hpro .togglebar.fixed.click span:nth-child(4){top: 20px;}
  
      .range-all{top: 70px;height: 74px;}
      .range-all .range{position: absolute;top: 38px;left:4%;font-size: 14px;line-height: 22px;}
      .range-all.xq .range{top: 26px;}
      .range-all h5{padding-right:15px;}
      .content .text{width: 100%;}
      .content .view{position: relative;left: 0;min-width: 260px;width: 260px;}
      .content .rightb{width: 65%;z-index: 1;}
      .productsPage.ptracks .content .rightb{width: 55%;}
      .s-img{width: 80%;z-index: 5;margin-left: 2%;}
      .productsDetails .s-img{width: 90%;}
      .productsPage{padding-top: 105px;}
      .productsPage .t,.productsPage .t span{display: block;}
      .productsPage .t{bottom: 5%;font-size: 22px;left: 0;width: 25%;text-align: center;align-items: center;}
      .productsPage .t span{width: 50px;height: 50px;line-height: 50px;font-size: 36px;margin: 5px auto;}
      .productsPage .content-all .content:nth-child(2n) .t{right: 0;}
      .productsPage.ptracks .content-all .content:nth-child(2n) .t{right: -5%;}
      .productsDetails .success-box{position: fixed;}
      .productsDetails .success-box.active{display: flex;align-items: center;}
      .productsDetails .success-box .success-content{margin:0 3%;}
      .s-img li{width: 16.666666%;}
  
      .s-img.s-imgEight{width: 96%;}
      .content .view.s-imgEight{left: 0;}
  
      .scBtnCont .scbcitem2 {margin-top: 80px;}
  
          /* tracks页面 */
      .productsPage.ptracks .t{text-align: left;padding-left: 38px; left:-5%;transform: rotate(270deg);font-size: 24px;}
      /*.productsPage.ptracks .t:after{
          position: absolute;
          content: "-";
          top: 0;
          right: 4px;
      }*/
      .productsDetails.pde.bll .right{padding-top: 0;}
  
      .productsPage .view{padding: 20px 20px 5px 20px;}
      .productsPage .view:after{left: 20px;width: 20px;}
      .productsPage .view p{
          position: relative;
          left: 0;
          opacity: 1;
          bottom: auto;
      }
      .productsPage .view img{left: 100px;right: auto;bottom: 19%;}
      .productsPage .content-all .content{padding-bottom: 30px;margin-top: 25px;padding-top: 25px;}
      
      .productsPage.psheers .content-all .content:nth-child(2n) .t{right:0;}
      .productsPage .content-all .content p{line-height: 22px;}
  
  
      /*.productsDetails*/
      .productsDetails.pde{height: auto;padding:144px 4% 10px 4%;}
      .productsDetails .content-all .cacimg{max-height: 200px;}
      .productsDetails .left,
      .productsDetails .right{width: 100%;position: relative;}
      .productsDetails .desc p{line-height: 30px;}
      .productsDetails .desc p span{left: 140px;}
      .productsDetails .t{font-size: 20px;bottom: auto;margin:25px 0 5px 0;}
      .productsDetails.bll .t{font-size: 26px;margin:25px 0 15px 0;}
      .productsDetails .t span{font-size: 40px;line-height: 60px;width: 60px;height: 60px;}
      .btn-add{font-size: 16px;}
      .productsDetails .m .btn-add{width: 205px;padding:10px 20px;}
      .productsDetails .m .mp{
          -webkit-width:calc(100% - 205px);
             -moz-width:calc(100% - 205px);
                  width:calc(100% - 205px);
      }
      .productsDetails .gg span:nth-child(2){left: 65%;}
  
  
      /* 定制页 */
      .productsDetails.dz{padding:0 2%;}
      .productsDetails.dz h2{font-size: 24px;}
      .category-mat a{width:25%;font-size: 14px;line-height: 26px;margin-right: 2%;margin-bottom: 2%;text-align: center;}
      .category-mat a:last-child{margin-right: 0;}
      .category-btn p{padding-left: 2.5%;padding-right:8%;}
      .category-mat{margin-bottom: 0;}
      .productsDetails.dz .common-ul div, .wil-img{width: 31.333333%;max-width: 140px;}
      .productsDetails.dz .common-ul.add div span, .wil-img span, .wil-img2 span{font-size: 12px;}
      .category-btn .cbbox{width: 39%;margin-right: 2%;}
      .productsDetails.dz .window-allbox .window{padding-bottom: 10px;margin-bottom: 10px;}
      .productsDetails.dz .window-allbox .window .w-list strong:first-child, 
      .productsDetails.dz .window-allbox .window .w-list span{margin-right: 40px;}
      .productsDetails.dz .window-allbox .window .w-list span:last-child{margin-right: 0;}
  
      #myMaterial.fixed{width: 100%;left: 0;right: 0;padding-left: 2%;padding-right: 2%;}
      .productsDetails.dz .pd-box h4.mm{margin-top: 20px;padding-top: 0;}
      .productsDetails.dz .pd-box .logout{top: 26px; font-size:12px;}
      .defaWul{width: 210px;}	/*// 190px;*/
      .defaWul li{font-size: 14px;height:30px;}
      .defaWulDemo {left: 210px;}	/*// 190px;*/
      
      .w-item .w-item-box:nth-child(2),
      .w-item .w-item-box:nth-child(3){position: relative;left: 0;}
      #customBtnContent .wil-img{width: 40%;}
      #bespokeBtnContent .wil-img{width: 40%;}
      .w-item .w-item-box{margin-bottom: 5px;}
      .w-item .w-item-box .w-item-list .wil-check{width: 45%;margin-left:2%;}
      .cm-box .common-ul.defa div.irc .rcc{opacity: 1;}
      .productsDetails.dz .common-ul div.irc{display: block;}
      .cm-box .common-ul.defa .rcc p{font-size: 12px;line-height: 16px;}
  
      .productsDetails.dz .window-allbox .window .w-list{font-size: 12px;line-height: 20px;margin-bottom: 10px;}
      .productsDetails.dz .window-allbox .window .w-list span.size{min-width: 34px;}
      .productsDetails.dz .window-allbox .window .w-list span.size, 
      .productsDetails.dz .window-allbox .window .w-list span.money{font-size: 14px;line-height: 22px;}
      .productsDetails.dz .window-allbox .window .w-list span.size:last-child{margin-right: 100px;}
      .whh,.whp,
      .w-item .w-item-box .w-item-list .wil-check .selectd .WH{width: 16px;}
      /*.whh{left: 205px;}*/
      .whh{left: 229px;}
      .whp{top: 3px;right: -20px;}
      .w-item .w-item-box .w-item-list .wil-check .selectd .WH{right: -20px;}
  
      .category-btn p{bottom: -55px;}
      
      #dzCont{padding-top: 280px;}
      .productsDetails.dz .common-ul{margin-bottom: 5px;}
      .productsDetails.dz .common-ul.add{height: auto;margin-top:80px;/*margin-top:50px;*/}
      .productsDetails.dz .common-ul.defa{margin-top: 0;max-height: 125px;height:83px;overflow-y: hidden;}
      .productsDetails.dz .common-ul.defa .irc{width: 100px;margin:4px;}
      .category-btn{margin-bottom: 20px;width: 100%;}
      .category-btn .cbtn{width: 100%;}
  
      
      
      .w-item.cst{display: flex;flex-wrap: wrap;}
      .w-item.cst .w-item-box{width: 100%;margin-right: 0%;}
      .w-item.cst .w-item-box:last-child{margin-right: 0;}
      #customBtnContent .wil-img{width: 100%;max-height: 82px;overflow: hidden;}
      #bespokeBtnContent .wil-img{width: 100%;max-height: 82px;overflow: hidden;}
      .w-item.cst .w-item-box .w-item-list .wil-check{display: block;margin-left:15px;margin-top: 0;
      width:-webkit-calc(100% - 20px);
      width:-moz-calc(100% - 20px);
      width:calc(100% - 20px);
      }
      .w-item.cst .w-item-box .w-item-list .wil-check .selectd:first-child,
      .w-item.cst .w-item-box .w-item-list .wil-check .selectd:last-child{position: relative;}
      .w-item.cst .w-item-box .w-item-list .wil-check .selectd:nth-child(2){margin-top: 5px;margin-bottom: 5px;}
  
      .SumoSelect > .optWrapper > .options > li,
      .SumoSelect > .CaptionCont{font-size: 12px;line-height: 24px;height: 24px;}
      
      .wenhaoBox .whb-inner .whb-content{width: 96%;padding:30px 20px 10px 20px;}
      .wenhaoBox .whb-inner .whb-content .whb-img li{width: 46%;margin:2%;}
      .wenhaoBox .whb-inner .whb-content h5{padding-left: 2%;font-size: 16px;}
      .wenhaoBox .hcont-text p{font-size: 14px;line-height: 24px;}
  
      .wenhaoBox .hcont-text.tultop{padding:2%;}
  
  
      /*checkout*/
      .CO-cont .lefta,.CO-cont .righta{position: relative;width: 100%;margin-left: 0;height: auto;}
      .CO-cont .righta{margin-top: 30px;}
      .CO-cont{padding:15px 0;}
      .CO-cont .titt{font-size: 16px;}
      .CO-cont .co-w ul li:nth-child(1), 
      .CO-cont .co-w ul li:nth-child(2),
      .CO-cont .co-w ul li:nth-child(3){width: 32%;position: relative;display: inline-block;}
      .CO-cont .co-w ul li:nth-child(2){margin:0 2%;}
      .CO-cont .co-w ul li .x2{display: inline-block;}
      .CO-cont .co-w ul li .x2 img,
      .CO-cont .co-w ul li:nth-child(3) img{width: 100%;max-width: 200px;}
      .CO-cont .co-w ul li .x2 p{width: 100%;padding:0;line-height: 22px;}
      .CO-cont .co-w ul li .x2 .xx2{width: 100%;}
      .CO-cont .info p{font-size: 14px;}
      .bottom-btn{padding:5px 0 0 0;}
      .bottom-btn .btnn{padding:0 25px;background: transparent;color: #000;height: 34px;line-height: 34px;margin-bottom: 0;}
      .bottom-btn .btnn a{background: transparent;color: #000;}
  
  
      /*account*/
      .wenhaoBox.cho .whb-inner .whb-content{width: 96%;padding:40px 30px;overflow: scroll;}
      .wenhaoBox .whb-inner{overflow: scroll;}
      .wenhaoBox.cho form{margin-top: 15px;}
      .wenhaoBox.cho form .fx2 h5,
      .wenhaoBox.cho form .fx2 input{width: 100%;}
      .CO-cont .co-w .co-wt,
      .CO-cont .itemm .co-w ul{width: 100%;}
      .CO-cont .co-w .co-wt{padding-bottom: 10px;}
      .CO-cont .co-w .co-wt strong{font-size: 15px;}
      .CO-cont .co-w .co-wt strong:last-child{font-size: 14px;}
      .wenhaoBox.cho .whb-inner .whb-content h5{font-size: 14px;line-height: 22px;}
      .wenhaoBox.cho form input{font-size: 13px;height: 26px;line-height: 26px;margin-bottom: 5px;}
      .productsDetails.dz.account.cho .CO-cont .textb p{font-size: 14px;line-height: 28px;}
      .CO-cont .co-tm{padding:10px 0 20px 0;}
      .CO-cont .co-w ul li p.co-wty{position: relative;bottom: auto;}
      .CO-cont .co-w ul li:nth-child(3) p.co-wty{bottom: auto;line-height: 22px;}
      .CO-cont .co-w ul li:nth-child(3) p.co-wty.sample{bottom: auto;}
      .productsDetails.dz.account.cho .CO-cont .co-w .co-wt{width: 100%;}
      .CO-cont .co-w{margin-bottom: 0;}
      .CO-cont .co-w ul li .x2 p span{line-height: 18px;}
      .CO-cont .co-wmoney{margin-top:0;}
      .CO-cont .co-w ul{margin:0;}
      .CO-cont .info input{margin-bottom: 5px;}
      .productsDetails.dz.account .signoutt{top: 25px;}
  
  }
  
  @media screen and (max-width:400px) {
      .category-btn p{bottom: -70px;}
  }
  
  @media screen and (max-width:340px) {
      .category-mat a,.category-btn .cbtn{font-size: 12px;font-family: "Frutiger-Roman";}
      .productsDetails.dz .window-allbox .window .w-list.cont strong{padding-left: 10px;}
      .productsDetails.dz .window-allbox .window .w-list span.size{min-width: 30px;}
      .whh{left: 202px;}
      .productsDetails.dz .window-allbox .window .w-list span.size, 
      .productsDetails.dz .window-allbox .window .w-list span.money{margin-left: 1px;}
  
      .CO-cont .co-w .co-wt p{padding-left: 0;}
      .productsDetails .m .btn-add{width: 150px;padding:10px;font-size: 15px;}
      .productsDetails .m .mp{
          -webkit-width:calc(100% - 150px);
             -moz-width:calc(100% - 150px);
                  width:calc(100% - 150px);
      }
      .bottom-btn{padding:5px 0 0 0;}
      .bottom-btn .btnn{padding:0 20px;}
  }