body {
    box-sizing: border-box;
  }
  
  .d-flex {
    display: flex;
  }
  
  .text.ss1a {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .Simplicity .container {
      padding-left: 15px;
      padding-right: 15px;
  }
  
  .Simplicity .text {
      padding-bottom: 0;
      padding-top: 10px;
  }
  
  /* .text p {
      text-align: justify;
  } */
  
  /* header */
  .header-fixed {
    position: fixed !important;
    top: 0 !important;
    left: 0;
    transition: 0.3s;
  }
  
  .header-fixed.active {
    height: 70px;
  }
  
  .header-fixed.active a.logo {
    top: 20%;
  }
  
  header a.logo {
    transition: 0.3s;
  }
  
  .header-fixed.active .num-box {
    top: 17px;
  }
  
  .header-product-main.active .num-box {
    top: 17px;
  }
  
  /* quality */
  .quality {
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  
  .quality-left {
    width: 56%;
  }
  
  .quality-pic-mobile {
      display: none;
  }
  
  .quality-left .pic-outer {
    display: flex;
    justify-content: space-between;
  }
  
  .quality-left .pic-box-left {
    width: 40%;
    /* padding-right: 3px; */
  }
  
  .quality-left .pic-box-left .pic-box {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
  }
  
  .quality-left .pic-box-left .pic-box .pic-box-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right: 2px;
  }
  
  .quality-left .pic-box-left .pic-box:first-child .pic-box-inner {
    padding-bottom: 2px;
  }
  
  .quality-left .pic-box-left .pic-box:last-child .pic-box-inner {
    padding-top: 2px;
  }
  
  .quality-left .pic-box-left .pic {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .quality-left .pic-box-left .pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .quality-left .pic-box-right {
    width: 60%;
    /* padding-left: 3px; */
    height: 100%;
  }
  
  .quality-left .pic-box-right .pic-box {
    width: 100%;
    padding-bottom: 80%;
    position: relative;
    height: 100%;
  }
  
  .quality-left .pic-box-right .pic {
    position: absolute;
    padding-left: 2px;
    width: 100%;
    height: 100%;
  }
  
  .quality-left .pic-box-right .pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .quality-right {
    width: 44%;
    padding-left: 3%;
  }
  
  .quality-right .text {
    padding-bottom: 0;
    padding-left: 0;
  }
  
  /* product */
  .product {
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    width: 100%;
  }
  
  .product-left {
    /* width: 44%; */
    width: 50%;
  }
  
  .product .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  
  .product-left ul.list-box {
    margin-left: -1%;
  
    width: 100%;
  
  }
  
  .product-left .text {
    padding-left: 0;
    width: 100%;
  }
  
  .product-right {
    /* width: 56%; */
    width: 50%;
    padding-left: 3%;
  }
  
  .product-right .pic {
    width: 100%;
    padding-bottom: 110%;
    position: relative;
  }
  
  .product-right .pic img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  
  .Products.common:after {
      display: none;
  }
  
  /* how this works */
  .works {
    padding-bottom: 0;
  }
  .works .text {
    padding-left: 0;
    padding-bottom: 0;
  }
  
  .works-box {
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
    width: 100%;
    margin-top: 20px;
  }
  
  .works_content {
    width: 33.3333%;
    margin: 0 auto;
  }
  
  .works_content img {
    width: 80%;
    display: block;
    margin: 0 auto 20px;
  }
  
  .works_text {
    width: 80%;
    margin: 0 auto;
  }
  
  .works_step {
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .works_step .step_num {
    font-size: 32px;
    font-weight: bold;
    margin: 0 5px 0 0;
  }
  
  .works_step .step_name {
    font-size: 16px;
    color: #9f864d;
    font-weight: 900;
    margin: 0 0 -4px 0;
    /* font-family: "DIN-BoldAlternate"; */
    font-family: "Frutiger-Roman";
  }
  
  /* subscribe */
  .new-subscribe {
    padding-bottom: 0;
  }
  .new-subscribe.common:after {
    display: none;
  }
  
  .subscribe_box {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 0 0 4%;
  }
  
  .new-subscribe .order {
    /* width: 33.3333%; */
    width: 415px;
  }
  
  .new-subscribe .order img {
      width: 300px;
  }
  
  .new-subscribe form {
    /* width: 33.3333%; */
    width: 415px;
    padding-left: 20px;
  }
  
  .new-subscribe form label {
    font-family: "Frutiger LT 45 Light";
    line-height: 32px;
    color: #2f2725;
    /* font-weight: 900; */
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
  }
  
  .new-subscribe form .input-mail {
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 0 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
  
  .new-subscribe form .input-mail::placeholder {
    color: #9fa0a0;
  }
  
  .new-subscribe form .btn-submit {
    background-color: #3d4543;
    color: #fff;
    font-size: 13px;
    padding: 5px 20px;
    width: fit-content;
    line-height: 1;
    letter-spacing: 1.1px;
  }
  
  /* header sample&order */
  header .num-box {
    /* position: fixed; */
    position: absolute;
    align-items: center;
    /* right: 12%; */
    right: 15%;
    top: 40px;
    transition: 0.3s;
  }
  
  header .num_inner {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  
  .num_inner-sample {
    cursor: pointer;
  }
  
  header .num_inner > span {
    color: #666464;
    /* font-weight: 900; */
    margin-right: 8px;
    display: block;
    font-family: "Frutiger LT 45 Light";
    font-size: 12px;
  }
  
  header .num_inner .num {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 50%;
    background-color: #e6e6e6;
  }
  
  header .num_inner .num.active::after {
    /* display: block; */
    opacity: 1;
  }
  
  header .num_inner .num::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: transparent transparent #e6e6e6 transparent;
    top: calc(100% - 12px);
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
    opacity: 0;
    transition: 0.3s;
  }
  
  header .num_inner .num > span {
    color: #3d4543;
    font-size: 12px;
    display: block;
    margin-top: 2px;
    margin: 0;
    font-weight: 300;
  }
  
  header .num_inner .num .notify {
    position: absolute;
    top: calc(100% + 25px);
    /* right: -15%; */
    right: -100px;
    width: 310px;
    background-color: #e6e6e6;
    display: none;
  }
  
  header .num_inner .num .notify-box {
    align-items: center;
    padding: 13px;
  }
  
  header .num_inner .num .notify .icon-check {
    width: 30px;
    margin-right: 20px;
  }
  
  header .num_inner .num .notify .icon-cross {
    width: 20px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  header .num_inner .num .notify-box span {
    color: #3d4543;
    font-family: "Frutiger LT 45 Light";
    font-size: 15px;
  }
  
  /* product page */
  .productunit {
    display: inline-block;
    margin-left: 8px;
  }
  
  .productsDetails .m {
    justify-content: space-between;
  }
  
  .btn-add-order {
    background: #3e4543;
    font-family: "DIN-BoldAlternate";
    font-size: 18px;
    color: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 10px 30px;
    width: 250px;
  }
  
  .btn-add-order a {
      font-size: 17px;
  }
  
  .get-sample {
    padding: 20px 0 10px;
    margin-top: -10px;
  }
  
  .get-sample p {
    color: #999999;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 12px;
    line-height: 1;
  }
  
  .get-sample button {
    background-color: #3d4543;
    padding: 5px 20px;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
    font-family: "Frutiger LT 45 Light";
    margin-top: 20px;
  }
  
  /* my sample */
  .mysample {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    /* position: absolute; */
    top: 80px;
    right: 0;
    z-index: 1000;
    padding: 25px 35px;
    max-width: 550px;
    width: 100%;
    display: none;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
  }
  
  .mysample-cross {
    position: absolute;
    width: 15px;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  
  .mysample-title {
    padding-bottom: 10px;
  }
  
  .mysample-title h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .mysample-title p {
    line-height: 18px;
    color: #6b6968;
    font-size: 14px;
  }
  
  .mysample-content {
    padding: 15px 0;
    border-top: 1px solid #9fa0a0;
    border-bottom: 1px solid #9fa0a0;
    min-height: 285px;
    /* max-height: 550px; */
    max-height: 400px;
    /* max-height: 285px; */
    overflow-y: auto;
    overflow-x: hidden;
  }

  .mysample-content::-webkit-scrollbar {
    display: none;
  }
  
  .mysample-content .inner {
    flex-wrap: wrap;
    margin: 0 -10px;
    /* justify-content: center; */
  }
  
  .mysample-content .inner .text-empty {
    padding: 0 10px;
    padding-top: 40px;
  }
  
  .mysample-content .pic-box {
    width: 33.3333%;
    /* width: 160px; */
    padding: 0 10px;
    margin: 10px 0;
  }
  
  .mysample-content .pic {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
  }
  
  .mysample-content .pic .sample-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mysample-content .pic .sample-delete {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .mysample-content .pic .rcc {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.35);
    margin: 0;
    opacity: 0;
    transition: 0.5s;
  }

  .mysample-content .pic .rcc p {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 5px;
    width: 100%;
    text-align: right;
  }

  .mysample-content .pic:hover .rcc {
    opacity: 1;
  }
  
  .mysample .checkout {
    text-align: right;
    padding-top: 20px;
  }
  
  .mysample .checkout p {
    margin: 0;
    line-height: 25px;
    font-weight: 900;
    font-family: "DIN-BoldAlternate";
  }
  
  .mysample .checkout p span {
    display: inline-block;
    margin-left: 20px;
    font-weight: 900;
    font-family: "Frutiger LT 45 Light", "Frutiger-Roman", "Helvetica Neue",
      "Helvetica", "Arial", sans-serif;
  }
  
  .mysample .checkout button {
    margin-top: 20px;
    padding: 5px 20px;
    font-family: "DIN-BoldAlternate";
    font-weight: 900;
    border: 1px solid #808080;
    background-color: transparent;
    cursor: pointer;
  }
  
  /* 定制页结算 */
  .pay {
    display: none;
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
    margin-top: 50px;
    border-top: 2px solid #000;
    /*border-bottom: 2px solid #000;*/
  }
  .mysample .pay {
      display: block;
      border-top: 0;
      margin-top: 0;
      padding-top: 15px;
  }
  .pay .pbtn,
  .thankyoupage .pbtn {
    display: block;
    float: right;
    width: 180px;
    padding: 10px;
    border: 1px solid #808080;
    background: #fff;
    text-align: center;
    font-family: "DIN-BoldAlternate";
    cursor: pointer;
  }
  .pay .pbtn a,
  .thankyoupage .pbtn a {
    color: #000;
  }
  .pay .pmoney {
    position: relative;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  .pmoney-l {
    position: relative;
    width: 100%;
    text-align: right;
  }
  .pay .pmoney .pmoney-l strong {
    font-family: "DIN-MediumAlternate";
    font-weight: normal;
    font-size: 15px;
    min-width: 130px;
  }
  .pay .pmoney span {
    padding-right: 10px;
    display: inline-block;
    min-width: 75px;
    font-size: 16px;
  }
  
  .pay .pbtn,
  .pay .pbtn a,
  .thankyoupage .pbtn,
  .thankyoupage .pbtn a {
    -webkit-transition: 0.5s ease;
  }
  .pay .pbtn:hover,
  .thankyoupage .pbtn:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
  }
  .pay .pbtn:hover a,
  .thankyoupage .pbtn:hover a {
    color: #fff;
  }
  .pay.active {
    display: block;
  }
  
  .common.Reviews {
      padding-top: 50px;
  }
  
  .calcArea .calculator {
    padding-bottom: 0 !important;
  }
  
  .calcArea {
    padding-top: 15px !important;
  }
  
  /* footer */
  footer ul li a {
    line-height: 25px;
  }
  
  footer ul li a.tit {
    margin-bottom: 0;
  }
  
  footer .yqlink {
    width: auto;
    align-items: center;
  }
  
  footer .yqlink a {
    display: block;
    width: 25px;
  }
  
  footer .yqlink a.link-yt {
    margin-left: 25px;
  }
  
  footer .xs.em .inner {
    background-color: #727171;
    color: #fff;
    font-weight: 900;
    font-size: 13px;
    padding: 5px 10px;
    width: fit-content;
    margin-top: 15px;
    font-family: "Frutiger LT 45 Light";
    letter-spacing: 1.1px;
  }
  
  @media screen and (max-width: 1366px) {
    .btn-add-order {
      padding: 10px;
      width: 140px;
      font-size: 15px;
      /* width: 50%; */
    }
    .productsDetails .m .mp {
      width: auto;
    }
  }

  @media screen and (max-width: 1024px) {
    footer .yqlink {
      right: 45px;
    }
    
  }
  
  @media screen and (max-width: 900px) {
    .new-subscribe .order {
      width: 50%;
    }
    .new-subscribe .order img {
      width: 80%;
    }
    .new-subscribe form {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 850px) {
    .works.home-section {
      padding-right: 0;
      padding-left: 0;
    }
    .works .text {
      padding-left: 20px;
    }
    .works .works-outer {
      overflow-x: auto;
    }
    .works-box {
      width: 850px;
      padding-bottom: 40px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .text.ss1a {
      padding: 70px 0 0;
    }
    .Simplicity .container {
        padding-left: 0;
        padding-right: 0;
    }
    .Simplicity ul.list-box li {
        width: 25%;
        padding: 2px;
        margin: 0;
    }
    .quality-left {
      width: 100%;
    }
    .quality-pic-pc {
      display: none;
    }
    .quality-pic-mobile {
      display: block;
    }
    .quality-right {
      width: 100%;
      padding-left: 0;
      padding-top: 70px;
    }
    .product-left {
      width: 100%;
    }
    .product-left .text {
      padding-top: 70px;
    }
    .product-right {
      /* width: 100%;
          padding-left: 0; */
      display: none;
    }
    .new-subscribe .order {
      width: 100%;
      margin-bottom: 50px;
    }
    .new-subscribe .order img {
      width: 415px;
    }
    .new-subscribe form {
      width: 100%;
      padding-left: 0;
    }
    .new-subscribe form .btn-submit {
      padding: 5px 30px;
    }
    .product-left ul.list-box {
        margin-left: 0;
        /* margin-left: -2px; */
        /* margin-right: -2px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .works.home-section {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .works_content img {
        width: 90%;
    }
    .works_text {
        width: 80%;
    }
    .common.Reviews {
        padding-top: 20px;
    }
    .calcArea .calculator {
       padding-bottom: 2px !important;
    }
    footer .xs.em .inner {
        padding: 0px 10px;
    }
    .new-subscribe .order p {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .common.Products {
        /* padding-top: 20px; */
        padding-top: 0;
    }
    .works_step .step_name {
        letter-spacing: -0.5px;
    }
    .get-sample button {
      margin-top: 10px;
    }
    .home-section {
      padding-top: 0;

    }
  }
  
  @media screen and (max-width: 760px) {
    .home-section {
      padding-left: 20px;
      padding-right: 20px;
    }
    .common.Reviews:before {
      display: none;
    }
    .Products.common:after {
      display: none;
    }
    header .num-box {
      top: 25px;
    }
    header a.logo {
        top: 30%;
    }
    header .togglebar {
        top: 10px;
    }
    /* .range-all {
          height: 65px;
      } */
    .range-all.xq .range {
      top: 20px;
      left: 1%;
    }
    .productsDetails.pde {
      padding-top: 100px;
    }
    .productsDetails .t {
      margin-top: 10px;
    }
    .productsDetails .s-img {
      margin-top: 1.8%;
      margin-bottom: 2.5%;
    }
    .productsDetails .m .mp {
      width: 50%;
    }
    .btn-add-order {
      width: 50%;
    }
    .get-sample {
      padding: 0 0 20px 0;
    }
    .get-sample p {
      /* font-size: 13px; */
      line-height: 1;
      margin-bottom: 20px;
    }
    .productStyle .descAddon {
      display: none;
    }
    /* footer .k {
          display: none;
      } */
    header.hpro .togglebar.fixed {
      top: 20px;
    }
    .productsDetails .t {
        margin-top: 12px;
    }
    .productunit {
        margin-left: 3px;
    }
    .productsDetails .t {
      margin-top: 13px !important;
    }
    .productsDetails .s-img {
      margin-top: 1.7% !important;
      margin-bottom: 1.5% !important;
    }
    .mysample-content .pic .rcc p {
      font-size: 12px;
      line-height: 14px;
    }
    .mysample-content .pic .rcc {
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 530px) {
    .mysample-content {
      min-height: 48vw;
      max-height: 72vw;
      /* max-height: 70vw; */
      padding: 5px 0;
    }
    .mysample-content .pic-box {
      width: 33.3333%;
    }
    .mysample .checkout {
      padding-top: 10px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .new-subscribe .order img {
      /* width: 100%; */
      width: 80%;
    }
    header .num-box {
      /* top: 30px; */
      top: 35%;
      right: 14%;
    }
    header .num_inner {
      margin: 0 5px;
    }
    header .num_inner > span {
      font-size: 13px;
      margin-right: 5px;
    }
    header .num_inner .num {
      width: 22px;
      height: 22px;
    }
    header .num_inner .num > span {
      font-size: 12px;
      margin-top: 0;
    }
    /* .mysample-content {
          min-height: 320px;
          max-height: 480px;
      } */
    .mysample-content .pic-box {
      padding: 0 5px;
      margin: 5px 0;
    }
    .mysample-content .inner {
      margin: 0 -5px;
    }
  }
  
  @media screen and (max-width: 440px) {
      footer .yqlink a.link-yt {
          margin-left: 12px;
      }
  }
  
  @media screen and (max-width: 400px) {
    header a.logo {
      width: 110px;
      top: 30%;
    }
    header .togglebar {
      width: 30px;
      height: 30px;
      top: 20px;
    }
    header .togglebar span:nth-child(1) {
      top: 20%;
    }
    header .togglebar span:nth-child(2) {
      top: 40%;
    }
    header .togglebar span:nth-child(3) {
      top: 60%;
    }
    header .togglebar span:nth-child(4) {
      top: 80%;
    }
    header .num-box {
      top: 25px;
      right: 15%;
    }
    header .num_inner > span {
      font-size: 13px;
    }
    header .num_inner .num {
      width: 20px;
      height: 20px;
    }
    footer .xs.em .inner {
      font-size: 14px;
    }
    /* .mysample-content {
          min-height: 250px;
          max-height: 400px;
      } */
    header .num_inner .num .notify-sample {
        right: -120px;
    }
    header .num_inner .num .notify-order {
        right: -50px;
    }
    .mysample-content .pic .sample-delete {
      width: 15px;
    }
    .mysample-title p br {
      display: none;
    }
  }
  
  @media screen and (max-width: 350px) {
    /* .mysample-content {
          min-height: 250px;
          max-height: 330px;
      } */
  }
  